#slider .item{
    height: 400px;
}
#slide1{
    background: url('images/lag2.png') center no-repeat;
}
#slide2{
    background: url('images/esim.png') center no-repeat;
}
#slider{
    margin-top: 20px;
}