body {
    font-family: 'RobotoCondensed Light';
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.top-header{
    border-bottom: 1px solid #eeeeee;
    background: #ffffff;
    border-bottom: 1px dashed #eeeeee;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: 0px;
}
.top-header-menu>ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-header-menu>ul.menu>li{
    position: relative;
    
    display: inline-block;
    border-right: 1px solid #eeeeee;
}
.top-header-menu>ul.menu>li>a{
    display: inline-block;
    padding: 10px 15px;
    color: black;
}
a{
    text-decoration: none;
}
.top-header .top-header-menu {
    float: right;
}


header .navbar-brand {
    padding: 0 15px;
    margin-top: 14px;
    border: 1px solid transparent;
    border-radius: 3px;
}
header .navbar-brand img {
    height: 50px;
}
.navbar-brand {
    float: left;  
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.navbar-nav > li {
    float: left;
    width: 115px;
}
.navbar-nav > li > a {
    color: #333;
    font-weight: 400;
    padding: 19px 15px;
    text-align: center;
}
.nav{
    padding-left: 0;
    list-style: none;
}

@media (max-width: 770px)
{
.hidden-xs {
    display: none;
}
}
@media (min-width: 768px)
{
    .navbar-right {
        float: right!important;
    }
}
@media (max-width: 780px){
    .collapse{
        display: none;
    }
}
@media (min-width: 768px)
{
    .navbar-brand {
        margin-left: -15px;
    }
}
* {
    outline: 0 none !important;
}
